@import './reset.scss';

$rainbow-colors: (
	1: red,
	2: orange,
	3: yellow,
	4: green,
	5: aqua,
	6: blue,
	7: purple
);

/*共通css*/
.force_color {
	color: red;
}

.smoothing_off {	
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	-webkit-font-smoothing: none;
}

.rainbow {
	background : linear-gradient(to right, red, orange, yellow, green, aqua, blue, purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.toggle_disp {
	animation-name: toggleDisp;
	animation-duration: .7s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.common_table {
	border: solid 1px blue;
	border-collapse: separate;
	border-spacing: 2px;
	margin: auto;
	text-align: left;
	width: 100%;
	max-width: 800px;
	min-width: 500px;

	th,
	tr,
	td {
		border: solid 1px blue;
		padding: 5px 0;
		vertical-align: top;
	}

	th {
		font-weight: bold;
	}
}

h2 {
	color: red; 
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	padding: 15px 7px;
	text-shadow:
		4px  4px 1px #facc2e,
		-4px  4px 1px #facc2e,
		4px -4px 1px #facc2e,
		-4px -4px 1px #facc2e,
		4px  0px 1px #facc2e,
		0px  4px 1px #facc2e,
		-4px  0px 1px #facc2e,
		0px -4px 1px #facc2e;
}

@font-face {
	font-family: 'Kodenmachou-Ki';
	src: url(./src/font/Kodenmachou-16-Ki.ttf);
}
@font-face {
	font-family: 'digitalFont';
	src: url(./src/font/7barP.otf);
}

body {
	cursor: crosshair;
	font-family: Kodenmachou-Ki;
	-webkit-font-smoothing: none;
	height: 100vh;

	.wrap {
		display: table;
		margin: 0 auto;
		height: 100%;
		width: 100%;

		.bg_snow {
			animation: snow 30s linear infinite;
			background-image: url(./src/img/snow_pattern.png);
			background-size: 200px 200px;
			height: 100%;
			position: fixed;
			width: 100%;
		}

		/*メニューバー*/
		.menu_nav {
			background: url(./src/img/bg_pattern2.jpg) repeat;
			border-right: solid 3px #aaa;
			display: table-cell;
			vertical-align: top;
			width: 20%;

			.menu_ttl {
				color: red;
				font-size: 22px;
				font-style: italic;
				padding: 5px 7px;
				margin-top: 30px;
				text-shadow: 
					#610B0B 2px 0px,  #610B0B -2px 0px,
					#610B0B 0px -2px, #610B0B 0px 2px,
					#610B0B 2px 2px , #610B0B -2px 2px,
					#610B0B 2px -2px, #610B0B -2px -2px,
					#610B0B 1px 2px,  #610B0B -1px 2px,
					#610B0B 1px -2px, #610B0B -1px -2px,
					#610B0B 2px 1px,  #610B0B -2px 1px,
					#610B0B 2px -1px, #610B0B -2px -1px;
			}

			.menu_content {
				list-style: none;
				display: block;

				li {
					margin: 25px 10px;
					padding: 3px 3px 3px 20px;
					position: relative;

					@each $i, $color in $rainbow-colors {
						&:nth-child(#{$i}) {
							&::before {
								background: $color;
								border-radius: 16px;
								content: '';
								left: 0;
								height: 16px;
								position: absolute;
								width: 16px;
							}
						}
					}

					a {
						&:hover {
							background: blue;
							color: yellow;
						}
					};
				}
			}
		}

		/*コンテンツエリア*/
		.main_contents {
			background: url(./src/img/bg_pattern1.jpg) repeat;
			display: table-cell;
			height: 100%;
			text-align: center;
			width: 80%;
			min-width: 550px;
		}

		.common_contents_wrap {
			margin: 60px auto;
			position: relative;
			width: 90%;
			max-width: 800px;
			min-width: 500px;
		}

		/*TOPページ*/
		#top {
			margin: 60px auto;

			/*余白*/
			.since_txt,
			h1,
			.ttl_note,
			.access_counter,
			.marquee_area,
			.kiriban_notation,
			.news_text
			{
				margin-bottom: 20px;	
			}


			/*タイトル〜画像まで*/
			.ttl_area {
				margin: 0 auto;
				width: 97%;

				.since_txt {
					text-align: right;
				}

				h1 {
					color: blue;
					font-size: 50px;
					font-style: italic;
					text-shadow: 1px 1px 0 #FFF, 2px 2px 5px blue, 4px 4px 10px #b2d8ff, 6px 2px 12px #dbedff, -7px 4px 15px #eaf4ff;
				}

				.ttl_note {
					font-style: italic;
					font-weight: normal;

					img {
						vertical-align: middle;
					}
				}

				.access_counter {
					background: black;
					border: ridge 7px #b7caf1;
					color: #68f312;
					display: inline-block;
					font-family: digitalFont;
					-webkit-font-smoothing: auto;
					font-size: 30px;
					padding: 5px 4px 0;
				}
			}

			.marquee_area {
				overflow: hidden;
				padding: 5px 0;
				width: 100%;

				.marquee_txt {
					color: blue;
					padding-left: 60%;
					white-space: nowrap;
					width: 60%;

					animation-name: marquee;
					animation-duration: 15s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
				}
			}

			.kiriban_notation {
				background: yellow;
				position: relative;
				text-decoration: underline;
			}

			.top_img_area {
				margin: 0 auto 20px;
				position: relative;
				text-align: left;
				max-width: 520px;
				min-width: 400px;
				width: 70%;

				.hukidashi_about,
				.hukidashi_jp_only
				 {
					border-radius: 40px;
					display: inline-block;
					padding: 30px 0;
					position: absolute;
					right: -40px;
					text-align: center;
					width: 250px;

					p {
						position: relative;

						&::before {
							content: '';
							display: block;
							height: 0;
							position: absolute;
							width: 0;
						}
					}
				}

				.hukidashi_jp_only {
					background: green;
					top: 50px;

					p {
						&::before {
							border-top: 15px solid transparent;
							border-right: 80px solid green;
							border-left: 15px solid transparent;
							left: -94px;
							top: 20px;
						}
					}
				}

				.hukidashi_about {
					background: deeppink;
					bottom: 50px;

					p {
						&::before {
							border-right: 15px solid transparent;
							border-bottom: 150px solid deeppink;
							border-top: 15px solid transparent;
							bottom: 20px;
							left: -50px;
							transform: rotate(-40deg);
						}
					}
				}
			}
		}

		/*概要*/
		#about {
			p {
				margin: 0 auto 30px;
				width: 100%;

				&.about_practical_text {
					background: #000;
					color: #fff;
					font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
					-webkit-font-smoothing: auto;
					line-height: 1.5em;
					padding: 20px 35px;
					text-align: left;
					width: calc(100% - 70px);
				}
			}
		}

		/*プロフィールページ*/
		#profile {
			.profile_table {
				background: aqua;
				border: solid 1px #000;
				border-collapse: separate;
				border-spacing: 2px;
				margin: 0 auto 60px auto;
				text-align: left;
				width: 100%;

				th,
				td {
					border: solid 1px #000;
					padding: 10px 5px;
				}

				th {
					font-weight: bold;
					text-align: center;
					white-space: nowrap;
				}
			}

			.homepage_profile_wrap {
				margin-bottom: calc(100vh - 500px);
			}

			.business_profile_wrap {
				p {
					margin-bottom: 60px;
				}

				.profile_textarea {
					background: aqua;
					border: solid 1px #000;
					margin: 0 auto 60px;
					line-height: 1.4em;
					padding: 20px 35px;
					text-align: left;
					width: calc(100% - 70px);
				}
			}
		}

		/*BBS*/
		#bbs {
			.bbs_form_wrap,
			.post_wrap {
				margin: 40px auto;
				padding: 10px 0;
				text-align: left;
				width: 100%;
			}

			.bbs_form {
				width: 100%;

				p {
					margin: 5px 0;
				}

				input[type="text"],
				textarea {
					border: solid 1px gray;
					box-shadow: 1px 1px 0 inset;
					-webkit-font-smoothing: auto;
					width: 100%;
				}

				input[type="text"] {
					max-width: 200px;
				}

				textarea {
					height: 100px;
				}
			}

			.post_wrap {
				background: #ffffcc;
				border: solid 1px gray;

				.post_countets {
					padding: 15px;
					text-align: left;

					h4 {
						border-bottom: solid 1px black;
						font-size: 16px;
						font-weight: bold;
						padding-bottom: 10px;

						span {
							padding-right: 5px; 
						}
					}

					.bbs_txt {
						font-size: 14px;
						padding: 10px 0;
					}

					.bbs_detail {
						border-top: solid 1px black;
						font-size: 13px;
						padding-top: 10px;

						p {
							span {
								display: inline-block;
								width: 40%;
							}
						}
					}
				}
			}
		}

		/*リンク集*/
		#links {
			.link_table {
				margin: 0 auto 30px;
				text-align: left;
				width: 100%;

				th,
				td {
					padding: 30px 0;
					vertical-align: middle;

					a {
						&:hover {
						    background: blue;
    						color: yellow;
    					}
					}
				}
				th {
					font-weight: bold;
				}
			}
		}

		/*お問い合わせ*/
		#contact {
			.contact_form_table {
				background: #cdcdcd;
				border: solid 1px #333;
				box-shadow: 2px 2px 0 0 #fff inset, -2px -2px 1px 0 #333 inset;
				margin: 10px auto;
				width: 100%;

				tr {
					&:first-child {
						background: #0b207b;
						th {
						  color: #fff;
						  text-align: left;
						  padding: 2px 5px 0;
						}
					}

					&:last-child {
						td {
						  text-align: right;
						}
					}

					th,
					td {
						font-size: 17px;
						font-weight: normal;
						padding: 10px 15px;
						text-align: left;
						vertical-align: middle;
					}

					th {
						width: 20%;
					}

					td {
						width: 80%;
					}

					input[type="text"],
					input[type="email"],
					textarea {
						border: solid 1px #333;
						box-shadow: 1px 1px 0 0 #fff, 1px 1px 0 0 #333 inset;
    					-webkit-font-smoothing: auto;
						outline: 0;
						padding: 3px;
						width: 98%;
					}

					textarea {
						height: 100px;
					}

					input[type="submit"],
					input[type="reset"] {
						background: #cdcdcd;
						border: #fff;
						border-bottom: solid 1px #000;
						border-right: solid 1px #000;
						box-shadow: 1px 1px 0 0 #fff inset, -1px -1px 1px 0 #333 inset;
						outline: 0;
						padding: 1px 0;
						width: 100px;

						&:active {
						  box-shadow: -1px -1px 0 0 #fff inset, 2px 2px 0 0 #333 inset;
						}
					}

					input[type="reset"] {
						color: #888;
						text-shadow: 1px 1px #fff;
					}
				}
			}
		}
	}

	footer {
		padding: 10px 0;
		background: #000;
		width: 100%;

		p {
			color: #fff;
			font-style: italic;
			font-size: 11px;
			text-align: center;
		}
	}
}



@keyframes marquee {
	from	{ transform: translate(0%); } 
	100%,to	{ transform: translate(-100%); }
}

@keyframes toggleDisp {
	0%		{ visibility: hidden; } 
	50%		{ visibility: hidden; } 
	100%	{ visibility: visible; }
}

@keyframes snow {
    0%{background-position:0 0;}
    100%{background-position:500px 500px;}
}