mh10 {
	margin-right: 10px;
	margin-top: 10px;
}
mh20 {
	margin-right: 20px;
	margin-top: 20px;
}
mh30 {
	margin-right: 30px;
	margin-top: 30px;
}
mh40 {
	margin-right: 40px;
	margin-top: 40px;
}


.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.tal {
	text-align: left;
}